<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">

    <title>{{ config.siteName }}</title>

    <link rel="stylesheet" href="css/bootstrap-3.3.6.min.css" type="text/css" />
    <link rel="stylesheet" href="css/httpobs-dashboard.css" type="text/css" />
</head>
<body>
    <div class="col-xs-12 col-md-10 col-md-offset-1" id="dashboard-date">
      <span class="pull-right text-muted">Report generated: {{ DATE }}</span><br>
    </div>

    <div id="dashboard-results" class="col-xs-12 col-md-10 col-md-offset-1">
        <span class="pull-right">
          <input type="search" placeholder="Filter by site name" value="" id="filter-sites" autofocus />
        </span>

        {% for group in sites %}
            <h2>{{ group }}</h2>
            {% if sites[group]|length == 0 %}
              <div class="alert alert-warning">No items are in this group</div>
            {% else %}
                {% for subGroup in sites[group] %}
                    {% include "table.html" %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>

    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/bootstrap-3.3.6.min.js"></script>
    <script src="js/lodash-4.13.1.min.js"></script>
    <script src="js/moment-2.14.1.min.js"></script>
    <script src="js/httpobs-dashboard.js"></script>
</body>
</html>
