<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">

    <title>Observatory Dashboard</title>

    <link rel="stylesheet" href="css/bootstrap-3.3.6.min.css" type="text/css" />
    <link rel="stylesheet" href="css/httpobs-dashboard.css" type="text/css" />
</head>
<body>

    <div id="dashboard-results" class="col-md-10 col-md-offset-1">
    <span id="dashboard-date" class="pull-right text-muted">Report generated: {{ DATE }}</span>

    {% for group in sites %}
        {% if sites[group]|length == 0 %}
        <h2>{{ group }}</h2>
        <hr>
        {% else %}


        <table class="table table-striped table-condensed table-group">
            <thead>
                <tr>
                    <th><h3>{{ group }}</h3></th>
                    <th class="text-center">CSP</th>
                    <th class="text-center">HSTS</th>
                    <th class="text-center">SRI</th>
                    <th class="text-center">XCTO</th>
                    <th class="text-center">XFO</th>
                    <th class="text-center">Grade</th>
                    <th class="text-center">90 day &Delta;</th>
                    <th class="text-center">HTTPS</th>
                    <th class="text-center">TLS<br>Compliant</th>
                </tr>
            </thead>
            <tbody>
            {% for site in sites[group] %}
                {% for hostname, results in site.items() %}
                <tr>
                    <td>
                        <a href="{% if results.tlsobs.data.has_tls %}https{% else %}http{% endif %}://{{hostname}}/">{{ hostname }}</a>
                        {% if results.httpobs.tests.contribute.pass and results.httpobs.tests.contribute.output.data %}
                            <span class="glyphicon glyphicon-info-sign pull-right" data-container="body" data-toggle="popover" title="" data-content="
                            <div>{{ results.httpobs.tests.contribute.output.data.description }}</div>

                            <div><strong><u>Bugs</u></strong>
                                <div>
                                {% for key, value in results.httpobs.tests.contribute.output.data.bugs.iteritems()|sort %}
                                    <a href='{{ value }}'>{{ key|capitalize }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                                </div>
                            </div>

                            {% if 'irc' in results.httpobs.tests.contribute.output.data.participate %}
                            <div>
                                <div><strong><u>IRC</u></strong></div>
                                <div>Channel: #{{ results.httpobs.tests.contribute.output.data.participate.irc.split('#')[-1] }}</div>{% endif %}
                                {% if 'irc-contacts' in results.httpobs.tests.contribute.output.data.participate %}<div>Contacts: {{ results.httpobs.tests.contribute.output.data.participate['irc-contacts']|join(', ') }}</div>{% endif %}
                            </div>

                           <div><strong><u>URLs</u></strong>
                               <div>
                               {% for key, value in results.httpobs.tests.contribute.output.data.urls.iteritems()|sort %}
                                   <a href='{{ value }}'>{{ key|capitalize }}</a>{% if not loop.last %}, {% endif %}
                               {% endfor %}
                               </div>
                           </div>
                                 " data-title="{{ results.httpobs.tests.contribute.output.data.name }}"></span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <span class="grade" data-content="{{ results.httpobs.tests['content-security-policy'].score_description|escape }}" data-pass="{{ results.httpobs.tests['content-security-policy'].pass }}" data-toggle="popover">
                        {% if results.httpobs.tests['content-security-policy'].pass %}Yes{% elif results.httpobs.tests['content-security-policy'].pass == None %}N/A{% else %}No{% endif %}
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="grade" data-content="{{ results.httpobs.tests['strict-transport-security'].score_description|escape }}" data-pass="{{ results.httpobs.tests['strict-transport-security'].pass }}" data-toggle="popover">
                        {% if results.httpobs.tests['strict-transport-security'].pass %}Yes{% elif results.httpobs.tests['strict-transport-security'].pass == None %}N/A{% else %}No{% endif %}
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="grade" data-content="{{ results.httpobs.tests['subresource-integrity'].score_description|escape }}" data-pass="{{ results.httpobs.tests['subresource-integrity'].pass }}" data-toggle="popover">
                        {% if results.httpobs.tests['subresource-integrity'].pass %}Yes{% elif results.httpobs.tests['subresource-integrity'].pass == None %}N/A{% else %}No{% endif %}
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="grade" data-content="{{ results.httpobs.tests['x-content-type-options'].score_description|escape }}" data-pass="{{ results.httpobs.tests['x-content-type-options'].pass }}" data-toggle="popover">
                        {% if results.httpobs.tests['x-content-type-options'].pass %}Yes{% elif results.httpobs.tests['x-content-type-options'].pass == None %}N/A{% else %}No{% endif %}
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="grade" data-content="{{ results.httpobs.tests['x-frame-options'].score_description|escape }}" data-pass="{{ results.httpobs.tests['x-frame-options'].pass }}" data-toggle="popover">
                        {% if results.httpobs.tests['x-frame-options'].pass %}Yes{% elif results.httpobs.tests['x-frame-options'].pass == None %}N/A{% else %}No{% endif %}
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="grade" data-content="You can see this site's <a href='https://observatory.mozilla.org/analyze.html?host={{ hostname }}'>full scorecard</a> on the Observatory." data-delay='{ "hide": 1000 }' data-grade="{{ results.httpobs.grade }}" data-score="{{ results.httpobs.score }}" data-toggle="popover">
                            {% if results.httpobs.grade %}{{ results['httpobs']['grade'] }}{% else %}N/A{% endif %}
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="grade" data-content="{{ results.httpobs.delta }}" data-pass="{% if results.httpobs.delta > 0 %}True{% elif results.httpobs.delta == 0 %}None{% else %}False{% endif %}" data-toggle="popover">
                        {{ results['httpobs']['delta'] }}
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="grade" data-pass="{{ results.tlsobs.data.has_tls }}">
                            {% if results.tlsobs.data.has_tls %}Yes{% else %}No{% endif %}
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="grade" data-compliance-level="{{ results.tlsobs.grade }}" data-content="This site's TLS configuration is rated as: <strong>{{ results.tlsobs.grade|lower }}</strong>" data-pass="{{ results.tlsobs.pass }}" data-toggle="popover">
                            {% if results.tlsobs.pass %}Yes{% else %}No{% endif %}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    {% endfor %}
    </div>

    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/bootstrap-3.3.6.min.js"></script>
    <script src="js/lodash-4.13.1.min.js"></script>
    <script src="js/moment-2.14.1.min.js"></script>
    <script src="js/httpobs-dashboard.js"></script>
</body>
</html>
